{% extends 'base.html' %}

{% load static %}

{% block title %}
  Página de Detalhes da Notícia
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
  <div class="news-container">
    <h1 class="news-title">{{ news.title }}</h1>
    <p class="news-content">{{ news.content }}</p>
    {% for category in news.categories.all %}
      <span class="news-categories">{{ category }}</span>
    {% endfor %}
    <span class="news-author">{{ news.author }}</span>
    <span class="news-date">{{ news.created_at|date:"d/m/Y" }}</span>
    <img src="{% static news.image.url %}" alt="{{ news.title }}" />
  </div>
{% endblock %}
